<form class="search-form" id="search-form">
  <div class="search-form__input-wrapper">
    <input
      class="search-form__input"
      type="text"
      name="searchQuery"
      autocomplete="off"
      placeholder="Search images..."
    />
    <button class="search-form__btn" type="submit">
      <!-- <img src="./images/icons8-search.svg" alt="" /> -->
      <svg class="search-form__icon" width="25" height="25">
        <use href="./images/symbol-defs.svg#icon-icons8-search"></use>
      </svg>
    </button>
  </div>
</form>
